img, embed, object, video {
	max-width: 100%;
}

.container {
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	font-family: Helvetica, sans-serif;
}


.top {
	order: 1;
	display: flex;
	border-bottom-style: outset;
	padding-bottom: 2px;
}

.logo{
	width: 50%;
	margin: 0 auto;
	justify-content: space-around;
	text-align: left;
}

.nameandtitle {
	width: 50%;
	text-align: right;
	font-family: Helvetica, sans-serif;
}

.mid{
	order: 2;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

.imagebox{
	margin:2%;
	width: 100%;
	/*border: 2px solid;*/
	align-content: center;
	text-align: center;
}
.calvinface{
	flex-shrink: 0;
	border-radius: 10%;
}

.introbox{
	width: 100%;
	text-align: justify;
	font-size: 100%;
	font-family: Helvetica, sans-serif;
	/*border: 2px solid;*/
}

footer{
	order: 3;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.footer_text{
	width: 100%;
	text-align: center;
}

.footerimages{
	text-align: center;
	width: 100%;
	flex-wrap: wrap;
	align-content: center;
	
}
